PORT=8000

GENAI_KEY=

ESKIZ_SMS_BASE_API_URL=
ESKIZ_SMS_LOGIN=
ESKIZ_SMS_PASSWORD=
ESKIZ_SMS_FROM=

JWT_ACCESS_SECRET=1234
JWT_ACCESS_EXPIRE=10m
JWT_REFRESH_SECRET=abcd
JWT_REFRESH_EXPIRE=7d

DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=123456
DB_DATABASE=fruitstime

INIT_ADMIN_LOGIN=998000000000
INIT_ADMIN_PASSWORD=12345678