PORT=8000

GENAI_KEY=
GENAI_MODEL=gemini-2.5-flash

ESKIZ_SMS_BASE_API_URL=http://notify.eskiz.uz/api
ESKIZ_SMS_LOGIN=
ESKIZ_SMS_PASSWORD=
ESKIZ_SMS_FROM=4546

JWT_ACCESS_SECRET=
JWT_ACCESS_EXPIRE=10m
JWT_REFRESH_SECRET=
JWT_REFRESH_EXPIRE=7d

DB_HOST=
DB_PORT=
DB_USERNAME=
DB_PASSWORD=
DB_DATABASE=

POSTER_API_URL=https://joinposter.com/api
POSTER_API_KEY=

INIT_ADMIN_LOGIN=998000000000
INIT_ADMIN_PASSWORD=12345678